<nav class="navbar navbar-default" ng-controller="navbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">
                Yelp
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li><a ui-sref="home"><span class="glyphicon glyphicon-home"></span>&nbsp Home</a></li>-->
                <!--<li class="dropdown" uib-dropdown>
                    <a href="#" id="apps-menu" uib-dropdown-toggle><span class="glyphicon glyphicon-fire"></span>&nbsp Apps <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="apps-menu">
                        <li role="menuitem"><a ui-sref=""></a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a ui-sref="aol">AOL</a></li>
                    </ul>
                </li>-->
            </ul>
            <form class="navbar-form navbar-left form-inline" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Find</div>
                        <input type="text" id="keywords" class="form-control" placeholder="Find">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Near</div>
                        <angucomplete-alt id="keywords"
                                          placeholder="Find"
                                          pause="400"
                                          selected-object="selectedObject"
                                          remote-url="/search?place="
                                          remote-url-data-field="predictions"
                                          title-field="description"
                                          input-class="form-control form-control-small"/>
                    </div>
                </div>
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" uib-dropdown>
                    <a href="#" id="user-menu" uib-dropdown-toggle><span class="glyphicon glyphicon-user"></span>&nbsp User <span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="user-menu">
                        <li role="menuitem"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp Logout</a></li>
                    </ul>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a href="#" id="lang-menu" uib-dropdown-toggle><span class="glyphicon glyphicon-globe"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="lang-menu">
                        <li role="menuitem"><a href="" ng-click="changeLanguage('vi')">Tiếng Việt</a></li>
                        <li role="menuitem"><a href="" ng-click="changeLanguage('en')">English</a></li>
                    </ul>
                </li>
                <li><a href="mailto:mle29@csc.com?subject=[IPOS-Mock] Support me"><span class="glyphicon glyphicon-question-sign"></span>&nbsp Help</a></li>
            </ul>
        </div>
    </div>
</nav>